nav {
    background-color: #A8A79E;
    padding: 10px;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;

    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .active {
    color: #ffcc00; /* Cambia el color para resaltar la página activa */
  }