<div class="content-container">
    <div class="noticia">
        <h1>Calendario de la temporada 2025 de F1: Fechas y horarios para España</h1>
        <h2>Estos son los horarios oficiales para España de los Grandes Premios de este año</h2>
        <img src="calendario.webp" alt="calendario">
        <div class="texto">
            <strong>La temporada 2025 de Fórmula 1 está por comenzar. </strong>Con esto, la Federación ha dado a conocer cuales serán los horarios oficiales de cada circuito para las distintas carreras a lo largo del año.<strong> En esta temporada se verán nuevas caras pero también habrá pilotos en otras escuderías</strong>, por lo que valdrá la pena no perderse ninguna carrera. Aquí te dejamos cuáles son las fechas y los horarios para España.
    <strong></strong>
    <strong>Carlos Sainz salió de Ferrari para convertirse en nuevo piloto de Williams</strong> mientras que <strong>Lewis Hamilton vestirá de rojo con la escudería italiana</strong>, <strong>Max Verstappen</strong> tendrá como compañero a Liam Lawson, y por si  fuera poco, llegan nuevos 'rookies' como lo son <strong>Oliver Bearman</strong> (Haas), <strong>Kimi Antonelli</strong> (Mercedes), <strong>Jack Doohan</strong> (Alpine), <strong>Isack Hadjar</strong> (RB) y <strong>Gabriel Bortoleto</strong> (Sauber).
        </div>
    </div>
</div>