/* Asegurar que el body y el html ocupen toda la pantalla */
html, body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  /* Contenedor principal que envuelve todo */
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupar toda la altura de la pantalla */
  }
  
  /* Contenido principal (lo que cambia con el router) */
  .content {
    flex: 1; /* Empuja el footer hacia abajo */
  }
  
  .content-container {
    max-width: 1200px; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Ajusta este valor según sea necesario */
}