    <h1>Bienvenido a <strong style="color: #000;">F<span style="color: #f00;">1</span>FAN</strong></h1>
    <p class="p1">En <strong style="color: #000;">F<span style="color: #f00;">1</span>FAN</strong>, encontrarás toda la información sobre la Fórmula 1 en un solo lugar. Desde los últimos resultados de carreras hasta noticias exclusivas, calendarios, equipos y pilotos, tenemos todo lo que necesitas para estar al día con el mundo de la Fórmula 1.</p>
    <div class="info-section">
        <div class="info-item">
            <img src="senna.png" alt="Pilotos">
            <div class="info-text">
                <a style="text-decoration: none;" routerLink="/drivers" title="Ir a Pilotos"><h2>👆 <span style="color: #f00;">I</span>nformación de <span style="color: #f00;">P</span>ilotos 👆</h2></a>
            <p>Descubre todos los detalles sobre tus pilotos favoritos. Desde sus estadísticas hasta sus biografías, aquí encontrarás toda la información que necesitas para conocerlos mejor.</p>        
            </div>
            </div>
        <div class="info-item">
            <img src="japon.jpg" alt="Calendario">
            <div class="info-text">
                <a style="text-decoration: none;" routerLink="/calendario" title="Ir a calendario"><h2><span style="color: #f00;">👆 C</span>alendario de la <span style="color: #f00;">T</span>emporada 👆</h2></a>
            <p>Mantente actualizado con el calendario oficial de la temporada de Fórmula 1. Conoce las fechas y horarios de todas las carreras y eventos importantes.</p>
            </div>
             </div>
        <div class="info-item">
            <img src="burbuja.webp" alt="Comentarios">
            <div class="info-text">
                <a style="text-decoration: none;" routerLink="/comment" title="Ir a Comenta"><h2>👆 <span style="color: #f00;">C</span>omparte tus <span style="color: #f00;">C</span>omentarios 👆</h2></a>
            <p>¿Tienes algo que decir sobre la Fórmula 1? ¡Comparte tus comentarios con nosotros y otros fans! Únete a la comunidad de F1FAN y hazte oír.</p>
        
            </div>
            </div>
    </div>
