<div class="content-container">
    <h1>Bienvenido a F1FAN</h1>
    <p class="p1">En F1FAN, encontrarás toda la información sobre la Fórmula 1 en un solo lugar. Desde los últimos resultados de carreras hasta noticias exclusivas, calendarios, equipos y pilotos, tenemos todo lo que necesitas para estar al día con el mundo de la Fórmula 1.</p>
    <div class="info-section">
        <div class="info-item">
            <img src="senna.png" alt="Pilotos">
            <div class="info-text">
                <h2>Información de Pilotos</h2>
            <p>Descubre todos los detalles sobre tus pilotos favoritos. Desde sus estadísticas hasta sus biografías, aquí encontrarás toda la información que necesitas para conocerlos mejor.</p>        
            </div>
            </div>
        <div class="info-item">
            <img src="japon.jpg" alt="Calendario">
            <div class="info-text">
                <h2>Calendario de la Temporada</h2>
            <p>Mantente actualizado con el calendario oficial de la temporada de Fórmula 1. Conoce las fechas y horarios de todas las carreras y eventos importantes.</p>
            </div>
             </div>
        <div class="info-item">
            <img src="burbuja.webp" alt="Comentarios">
            <div class="info-text">
                <h2>Comparte tus Comentarios</h2>
            <p>¿Tienes algo que decir sobre la Fórmula 1? ¡Comparte tus comentarios con nosotros y otros fans! Únete a la comunidad de F1FAN y hazte oír.</p>
        
            </div>
            </div>
    </div>
</div>