/* Estilos globales */
*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}



app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #efefef; /* Color gris claro para los márgenes */
}

.content-container {
  flex-grow: 1;
  max-width: auto;
  width: 85%;
  margin: auto;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el contenido */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: le da un ligero sombreado */
  border-radius: 8px; /* Opcional: bordes redondeados */
}
